/* fixed header and static bottom */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-top: 50px; /* margin-top must match .navbar height */
  margin-bottom: 60px; /* margin-bottom must match .footer height */
}
body > .container {
  padding-bottom: 10px;
}
.page-header {
  margin-top: -10px; /* remove the 40px margin-top, and allow for pages without the standard h1 */
}

/* navbar-inverse customisations */
.navbar-custom .navbar-brand {
  color: #ddd;
}
.navbar-custom .navbar-nav > li > a {
  color: #ddd;
}
@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ddd;
  }
}

/* make the headings smaller */
h1 {
  font-size: 32px;
  margin-bottom: 0;
}